[submodule "odin-imgui"]
	path = odin-imgui
	url = https://gitlab.com/L-4/odin-imgui.git
[submodule "clap-wrapper"]
	path = clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
[submodule "clap-odin"]
	path = clap-odin
	url = https://github.com/MalgAmoe/clap-odin.git
