[submodule "libs/pugl-odin"]
	path = libs/pugl-odin
	url = https://github.com/BenjaminQuiedeville/pugl-odin.git
[submodule "libs/cplug-odin"]
	path = libs/cplug-odin
	url = https://github.com/BenjaminQuiedeville/cplug-odin.git
